

.appointment {
    background: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    /* background-color: rgba(222, 205, 214, 0.8); */
    height: 2000px;
    display: flex;
    
}
body {
  margin: 0;
  padding: 0;
}

/* .appointment-container{
        background-color: rgba(222, 205, 214, 0.8);
        padding-bottom: 200px;
        padding-top: 200px;
}
         */
.row {
    display: fixed;
}
